[submodule "Drivers/STM32L5xx_HAL_Driver"]
	path = Drivers/STM32L5xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32l5xx_hal_driver.git
	branch = master
[submodule "Drivers/CMSIS/Device/ST/STM32L5xx"]
	path = Drivers/CMSIS/Device/ST/STM32L5xx
	url = https://github.com/STMicroelectronics/cmsis_device_l5.git
	branch = master
